# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

# IDE files
.idea

# lock files
package-lock.json

# My dev journal
# it will be used for a better tracking of my thoughts
dev-log.txt